<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Stream</title>
</head>
<body id="body">
    <img id="video" width="640" height="480" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const video = document.getElementById('video');
        const socket = io();

        socket.on('connect', () => {
            console.log('Connected to server');
        });

        socket.on('video_frame', (data) => {
            video.src = 'data:image/jpeg;base64,' + data.frame;
        });

        socket.on('disconnect', () => {
            console.log('Disconnected from server');
        });
    </script>
</body>
</html>
